/* Font styles */

.regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}
  
.medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}
  
.semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}
  
.bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}

/* body style */

*{
    margin: 0;
    padding: 0;
}
main{
    margin-left: 160px;
    margin-right: 160px;
}
body{
    background-color: #F1F1F3;
}
section{
    margin-bottom: 80px;
}


/* header style */

.navbar{
    margin-left: 160px;
    margin-right: 160px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h3{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
}
.navbar button{
    padding: 15px 30px;
    color: #006A50;
    background-color:#F5F5F5 ;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 18px;
}
.navbar button:hover{
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.header-banner{
    border-radius: 24px;
    height: 560px;
    background-color: #C6E4D6;
    display: flex;
    gap: 54px;
    align-items: center;
    margin: 0 160px 80px 160px;
}
.header-content{
    margin-left: 60px;
}
.header-content p{
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.header-content h1{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 56px;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.header-content button{
    padding: 17px 34px;
    color: white;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 18px;
    background-color:#006A50 ;
    border: none;
    border-radius: 8px;
}
.header-content button:hover{
    cursor: pointer;
    color: red;
}

/* section one style */

.one h2{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 32px;
}
.pillars{
    display: flex;
    gap: 24px;
}
.pillars-box{
    background-color: white;
    border-radius: 16px;
    padding: 24px;
}
.pillars-box:hover{
    box-shadow: 10px 10px 8px  rgba(0, 0, 0, 0.247);
}
.pillars-box img{
    margin-bottom: 24px;
}
.pillars-box h6{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.pillars-box p{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

/* section two styles */

.two h2{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.two p{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.vision{
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}
.vision-card{
    border-radius: 16px;
    padding: 32px;
}
.vision-card img{
    margin-bottom: 24px;

}
.vision-card h6{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.vision-card p{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.vision-card button{
    padding: 11px 20px;
    color: white;
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
}
.vision-card button:hover{
    cursor: pointer;
    border: 3px solid white;
}
.speech {
    padding: 48px 24px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    
    background-repeat: no-repeat;
}
.speech p{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.8);
}
.speech h6{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 4px;
    color: rgba(14, 14, 14, 0.8);
}
.speech small{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
}

/* section three styles */

.three h2{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(14, 14, 14);
    margin-bottom: 24px;
}
.chart{
    padding: 32px;
    background-color: white;
    border-radius: 16px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #0E0E0E;
}
table thead{
    background-color: rgba(198, 228, 214, 1);
}
thead th{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 20px;
    color: #0E0E0E;
    padding:  24px ;
    border: 1px solid rgba(14, 14, 14, 0.3);
    text-align: left;
}
tbody td{
    width: 79%;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
    color: #0E0E0E;
    padding: 24px ;
    border: 1px solid rgba(14, 14, 14, 0.3);
}
tbody button{
    padding: 12px 20px;
    background-color: #C6E4D6;
    border: 1px solid rgba(14, 14, 14, 0.3);
    border-radius: 4px;
}
tbody button:hover{
    background-color: green;
    color: red;
    cursor: pointer;
}

/* section four styles */

.four h2{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(14, 14, 14);
    margin-bottom: 24px;
}
.four p{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
}
.news-list{
    background-color: white;
    border-radius: 16px;
    padding: 48px;
    display: flex;
    gap: 32px;
    margin-bottom:24px ;
}
.news-list img{
    border-radius: 24px;
}
.news-content h3{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.8);
}
.news-content img{
    margin-bottom: 12px;
}
.news-content p{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 12px;
}
.news-content button{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
}
.news-content button:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

/* section five styles */
.five{
    text-align: center;
}

.five h2{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(14, 14, 14);
    margin-bottom: 24px;
}
.five p{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.donate-tk{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
}
.donate-box{
    padding: 40px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.donate-box:hover{
    background-color: #C6E4D6;
}
.donate-box h3{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
}
.five input{
    padding: 20px 422px;
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
}
.five button{
    margin-top: 32px;
    background-color: #006A50;
    color: white;
    padding: 17px 34px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.five button:hover{
    background-color: red;
    color: white;
}

/* section six styles */

.six{
    background-color: #C6E4D6;
    padding: 80px 100px;
    text-align: center;
    border-radius: 24px;
}
.six h2{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(14, 14, 14);
    margin-bottom: 16px;
}
.six p{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.six input[type="email"]{
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 18px;
    width: 50%;
    border: none;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.3);
}
.six input[type="button"]{
    padding: 17px 34px;
    background-color: #006A50;
    border: none;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

/* footer styles */

footer{
    padding: 50px 160px;
    background-color: white;
}
footer hr{
    margin: 32px 0;
}
footer h4{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
    text-align: center;
}
footer .icons{
    display: flex;
    gap: 23px;
    justify-content: center;
}









  